ion-img {
  width: 40px;
  height: 40px;
}

ion-card-title {
  width: 150px;
  font-size: 14px;
  padding-top: 5px;
}

ion-buttons {
  padding-bottom: 30px;
}

ion-card-header{
  height: 75px;
}

#class-coment{
  padding-bottom: 5px;
  font-size: 15px;
  padding-left: 37%;
}

#salir{
  padding-top: 10px;
  padding-right: 20px;
  width: 25px;
  height: 25px;
}

ion-toolbar{
  height: 60px;
  width: 100%;
}

ion-title{
  padding-bottom: 20px;
}